.favourite-container {
  // padding: 10rem 0;
  &__item {
    margin-bottom: 2rem;
    flex: 0 0 25rem;
    height: 25rem;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    margin-right: 2rem;
    border-radius: 8px;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    }
    position: relative;
    &-icon {
      position: absolute;
      top: 2rem;
      right: 0;
      width: 3rem;
      height: 3rem;
      color: rgb(69, 113, 255);
      cursor: pointer;
    }
    &-fav {
      position: absolute;
      top: 2rem;
      left: 0;
      width: 3rem;
      height: 3rem;
      color: rgb(69, 113, 255);
      cursor: pointer;
    }
  }
  &__item:hover &__link {
    opacity: 1;
  }

  &__link {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(
      to right bottom,
      rgb(255, 167, 3),
      rgb(255, 191, 71)
    );
    width: 100%;
    opacity: 0;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
  }

  &__image {
    width: 20rem;
    height: 20rem;
  }

  &__item-title {
    font-size: 0.8rem;
  }
  &__item-price {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(69, 113, 255);
    padding: 1rem;
  }
}
